@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: rgb(23, 23, 23);
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #92e5a1;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
    width: 300px;
    height: 300px;
	object-fit: cover;
	transition: transform 400ms ease-out;
    border: 2px solid #d0ddc0;
    border-radius: 20px;
}

.gallery-image:hover {
	transform: scale(1.10);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/*
#################################################
P O R T F O L I O - S E C T I O N - I N F O
#################################################
*/
header{
    flex-wrap: wrap;
    display: flex !important;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5REM !important;
    background-color: rgba(11,11,11,0.23);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgb(0,0,0);
    border-bottom-right-radius: 20px;
}
a{
    text-decoration: none;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
    font-family: "Noto Sans TC";
    letter-spacing: 2px;
    display: inline-block;
}
.nav-area li a:hover{
    color: #d22938;
}
.heading-portfolio{
    padding: 3.5rem 0;
	color: #92e5a1;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    font-size: calc(.5em + 1.4vw);
    letter-spacing: calc(.2em + 1.3vw);
    font-family: 'Lexend Giga', sans-serif;
    line-height: 1.2;
    text-align: center !important;
    text-shadow:
    0 0 5px #92e5a1,
    0 0 10px #92e5a1,
    0 0 20px #92e5a1,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 1000px #0ff,
    0 0 500px #0ff;
}
.vaporwave-img{
    display: flex;
    padding-bottom: 50px;
}
.vaporwave-Icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    padding-bottom: 50px;
}
.flex-table-outer{
    padding: 2rem;
    justify-content: center !important;
    display: flex !important;
}
.flex-table{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #d0ddc0;
    padding: calc(.5rem + 2vw);
}
table {
    text-align: left;

}
table tr {
    border-bottom: 1px solid
}
table th, table td {
    letter-spacing: 3px;
    color: #fff !important;
    padding: 5px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-width: 0px;
    font-size: 1.1rem;
}
table td span {
    background: #eee;
    color: dimgrey;
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
}
.project-links{
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
}

/* Simple CSS for flexbox table on mobile */
@media(max-width: 800px) {
    table thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }
    table tr {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    table td {
        border: 1px solid;
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    table td span {
        display: block;
    }
}
/*
#################################################
F O O T E R - S E C T I O N 
#################################################
*/
.footer{
    padding-top: 2.5rem;
    overflow: hidden !important;
    background: var(--body);
    font-family: Dongle, sans-serif;
    font-size: .75rem;
    color: white;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: 1;
}